body 
{ 
	margin:0; padding:0;
	font-family:Arial,Sans serif;
	background: #CC9E61;
	text-align: center;
}
#footer
{
	margin-top: 5px;
}
#footer a
{
	text-decoration: none;
	color: #020304;
	font-size: 12px;
}
		#flashContent
		{
			text-align: center;
			padding: 0px;
		}
		h1
		{
			color: #020304;
			padding: 0px;
		}
		#info
		{
			
		}
	#ads
	{
		width: 1022px;
		border: 1px solid #541F14;
		background-color: #938172;
		margin-top: 5px;
	}
		.clear
		{
			clear:both;
		}

		#socialNav
		{

			height:40px;

			float: left;

		}
		#socialNav img
		{
			margin-left: 0;
			padding-left:0;
			width: 35px;
			height: 35px;
		}

		#nav a
		{
			text-decoration: none;
			color: #541F14;
			font-weight: bold;
			font-size: 19px;
		}
		#nav a:hover
		{
			color: #626266;
		}
		#nav
		{
			text-transform: uppercase;
			
		}
		#nav ul
		{
			float:right;
			
			padding-top: 5px;
			margin: 0;
			list-style-type: none;
			
		}
		#nav ul li
		{
			padding: 0;
			margin-left: 25px;
			display: inline;
		}
		#top
		{
		float:left;
			color: white;
		}
		#wrapper
		{
			margin: auto;
			width: 1024px;
		}
		#highscores
		{
			width:1024px;
			text-align:center;
		}
		#highscores h1
		{
			
		}
		#highscores table
		{
			width:1024px;

			text-align:center;
			margin:auto;
		}
		#highscores table td
		{		
			
			background-color: #938172;
			font-weight: bold;
			border: 1px solid #541F14;
		}